:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bgc-color: #ffffff;
  --primery-background-color-section: #f5f4fa;
  --color-footer-header: #2f303a;
  --background-color-btn: #188ce8;
}
/*другий колір тексту #757575/*/
/*білий колір bgc/ --#FFFFFF*/
/* accent-- #2196F3*/
/*Основний колір текста-- #212121*/

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: var(--primery-bgc-color);
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
}
address {
  font-style: normal;
}
.link,
.adress-link {
  text-decoration: none;
}
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Навігація header*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.colortext {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.adress-list .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}
/*Hero*/
.hero {
  background-color: var(--color-footer-header);
}
.hero-title {
  color: var(--primery-bgc-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background-color: var(--accent-color);
  font-family: inherit;
  color: var(--primery-bgc-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
  background-color: var(--background-color-btn);
}
/*Features*/

.features-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*Section work*/
.work-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*Team*/
.team {
  background-color: var(--primery-background-color-section);
}
.team-list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/*footer*/
.footer {
  background-color: var(--color-footer-header);
  color: var(--primery-bgc-color);
}
.footer .logo {
  color: var(--primery-bgc-color);
}
.footer-list .link,
.adress-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
address .link:hover,
address .link:focus {
  color: var(--accent-color);
}
.adress-link {
  color: var(--primery-bgc-color);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

/*Portfolio*/
.btn {
  font-family: inherit;
  background-color: var(--primery-background-color-section);
  color: var(--title-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--primery-bgc-color);
}

/*Section-Portfolio*/

.portfolio-headline {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item .text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
